#Performance5 {
  margin-top: 5% !important;
  font-weight: bold;
}
.rea {
  margin-left: 600px;
}
.btsuivant {
  text-align: right;
  margin-left: 1000px;
}
.bbaa{
  position: absolute;
  top: 6.9%;
  margin-left: 4%;
   transform: translate(-50%, -50%);
   color: #0d36ec;
   font-size: 30px;
}