#Performance1 {
  margin-top: 5% !important;
    font-weight: bold;
  }
  .eval{
    margin-left: 600px;
  }
  .suivan{
    text-align: right;
  margin-left: 600px;
  }
  .prog2{
    position: absolute;
    top: 28.1%;
    margin-left: 4%;
     transform: translate(-50%, -50%);
     color: #0d36ec;
     font-size: 30px;
  }

  .progg22{
    position: absolute;
    top: 10%;
    margin-left: 4%;
     transform: translate(-50%, -50%);
     color: #0d36ec;
     font-size: 30px;
  }

  .azerty{
    font-size: 30px;
  }
  
  .stil{
    font-size: larger;
  }
  