#Performance22 {
  margin-top: 5% !important;
  font-weight: bold;
}
.r {
  margin-left: 600px;
}
.btnsuivant {
  text-align: right;
  margin-left: 1000px;
}
.aaaa{
  position: absolute;
  top: 3.9%;
  margin-left: 4%;
   transform: translate(-50%, -50%);
   color: #0d36ec;
   font-size: 30px;
}